{% extends "picture/base.html" %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {% load static %}
  <div class="card text-center">
    <div class="card-header">
      <div class="row align-items-start">
        <div class="col">
          {{fechaRegistro}}
        </div>
        <div class="col">
          &nbsp;
        </div>
        <div class="col">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
      <div class="container-fluid text-center">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
          {% for image in listImages %}
          <div class="col">
            {% if image.imagen_type == 1 %}
            <a target="_blank" href="{{ MEDIA_URL }}picture/take{{image.imagen_path}}">
              <img src="{{ MEDIA_URL }}picture/take{{image.imagen_path}}" alt="img" width="150" height="100">
            </a>
            <div class="desc">
              {{image.imagen_date}}
              <button type="submit" class="btn btn-primary mb-2" name="btn" value="{{image.id}}">Eliminar</button>
            </div>
            {% elif image.imagen_type == 2 %}
            <a target="_blank" href="{% url 'showPictureDirectory' id=image.id %}">
              <img src="{% static 'imagen/iconos/imagenes.png' %}" alt="img" width="150" height="100">
            </a>
            <div class="desc">
              {{image.imagen_date}}
              <button type="submit" class="btn btn-primary mb-2" name="btn" value="{{image.id}}">Eliminar</button>
            </div>
            {% elif image.imagen_type == 3 %}
            <a target="_blank" href="{% url 'showControlVideo' id=image.id %}">
              <img src="{% static 'imagen/iconos/video.png' %}" alt="img" width="150" height="100">
            </a>
            <div class="desc">
              {{image.imagen_date}}
              <button type="submit" class="btn btn-primary mb-2" name="btn" value="{{image.id}}">Eliminar</button>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      </p>
    </div>
  </div>
</form>
{% endblock %}