{% extends "picture/base.html" %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {% load static %}
  <div class="card text-center">
    <div class="card-header">
      <div class="row align-items-start">
        <div class="col">
          {{fechaRegistro}}
        </div>
        <div class="col">
          &nbsp;
        </div>
        <div class="col">
          <a class="btn btn-primary" href="{% url 'downloadFile' id=id  %}">Download</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
      <div class="container text-center">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
          {% for image in listImages %}
          <div class="col">
            <a target="_blank" href="{{ MEDIA_URL }}picture/take/{{image}}">
              <img src="{{ MEDIA_URL }}picture/take/{{image}}" alt="img" width="150" height="100">
            </a>
            <div class="desc">
              <button type="submit" class="btn btn-primary mb-2" name="btn" value="{{image}}" >Eliminar</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      </p>
    </div>
  </div>
</form>
{% endblock %}