{% extends "base.html" %}

{% block sidebar %}
<ul class="list-unstyled ps-0">
    <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Reconocimiento
        </button>
        <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'newRecord' %}"
                        class="link-dark d-inline-flex text-decoration-none rounded">Crear
                        Ingreso</a>
                </li>
                <li><a href="{% url 'showListRecord' %}"
                        class="link-dark d-inline-flex text-decoration-none rounded">Bitacora</a>
                </li>
                <li><a href="{% url 'execTrainRecord' %}"
                    class="link-dark d-inline-flex text-decoration-none rounded">Cargar Reconocimiento</a>
            </li>
            </ul>
        </div>
    </li>
    <li class="border-top my-3"></li>
</ul>
{% endblock %}
{% block content %}
{% endblock %}